In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
# Combined 12 month file
bike_stations_to_load = 'Data/nyc_bike_data.csv'

# Read City bike data from monthly files
bike_stations = pd.read_csv(bike_stations_to_load)

In [3]:
# Get Unique Station info for starting and ending stations
bike_stations_start = bike_stations[['start station id', 'start station name', 'start station latitude', 'start station longitude']]
start_stations = bike_stations_start.groupby(['start station id', 'start station name', 'start station latitude', 'start station longitude']).size().reset_index().rename(columns={0:'count'})
start_stations

     start station id             start station name  start station latitude  start station longitude  count
0                72.0               W 52 St & 11 Ave               40.767272               -73.993929  15435
1                79.0       Franklin St & W Broadway               40.719116               -74.006667   8810
2                82.0         St James Pl & Pearl St               40.711174               -74.000165   4676
3                83.0  Atlantic Ave & Fort Greene Pl               40.683826               -73.976323   6131
4               116.0                W 17 St & 8 Ave               40.741776               -74.001497  22730
..                ...                            ...                     ...                      ...    ...
803            3799.0                6 Ave & W 34 St               40.749640               -73.988050   4858
804            3803.0    Bedford Ave & Montgomery St               40.665816               -73.956934    312
805            3804.0              Front St & Jay St               40.702461               -73.986842   1651
806            3809.0                W 55 St & 6 Ave               40.763201               -73.978458    506
807            3810.0    Central Park West & W 82 St               40.782593               -73.971211    524

[808 rows x 5 columns]

In [4]:
bike_stations_end = bike_stations[['end station id', 'end station name', 'end station latitude', 'end station longitude']]
end_stations = bike_stations_end.groupby(['end station id', 'end station name', 'end station latitude', 'end station longitude']).size().reset_index().rename(columns={0:'count'})
end_stations

     end station id               end station name  end station latitude  end station longitude  count
0              72.0               W 52 St & 11 Ave             40.767272             -73.993929  15371
1              79.0       Franklin St & W Broadway             40.719116             -74.006667   8840
2              82.0         St James Pl & Pearl St             40.711174             -74.000165   4734
3              83.0  Atlantic Ave & Fort Greene Pl             40.683826             -73.976323   6492
4             116.0                W 17 St & 8 Ave             40.741776             -74.001497  22833
..              ...                            ...                   ...                    ...    ...
828          3799.0                6 Ave & W 34 St             40.749640             -73.988050   4788
829          3803.0    Bedford Ave & Montgomery St             40.665816             -73.956934    345
830          3804.0              Front St & Jay St             40.702461             -73.986842   1660
831          3809.0                W 55 St & 6 Ave             40.763201             -73.978458    505
832          3810.0    Central Park West & W 82 St             40.782593             -73.971211    499

[833 rows x 5 columns]

In [5]:
# Combine the start and end stations into one dataset
start_stations.rename(columns={'start station id': 'station id', 'start station name': 'station name', 'start station latitude': 'station latitude', 'start station longitude': 'station longitude'}, inplace=True)
start_stations

     station id                   station name  station latitude  station longitude  count
0          72.0               W 52 St & 11 Ave         40.767272         -73.993929  15435
1          79.0       Franklin St & W Broadway         40.719116         -74.006667   8810
2          82.0         St James Pl & Pearl St         40.711174         -74.000165   4676
3          83.0  Atlantic Ave & Fort Greene Pl         40.683826         -73.976323   6131
4         116.0                W 17 St & 8 Ave         40.741776         -74.001497  22730
..          ...                            ...               ...                ...    ...
803      3799.0                6 Ave & W 34 St         40.749640         -73.988050   4858
804      3803.0    Bedford Ave & Montgomery St         40.665816         -73.956934    312
805      3804.0              Front St & Jay St         40.702461         -73.986842   1651
806      3809.0                W 55 St & 6 Ave         40.763201         -73.978458    506
807      3810.0    Central Park West & W 82 St         40.782593         -73.971211    524

[808 rows x 5 columns]

In [6]:
end_stations.rename(columns={'end station id': 'station id', 'end station name': 'station name', 'end station latitude': 'station latitude', 'end station longitude': 'station longitude'}, inplace=True)
end_stations

     station id                   station name  station latitude  station longitude  count
0          72.0               W 52 St & 11 Ave         40.767272         -73.993929  15371
1          79.0       Franklin St & W Broadway         40.719116         -74.006667   8840
2          82.0         St James Pl & Pearl St         40.711174         -74.000165   4734
3          83.0  Atlantic Ave & Fort Greene Pl         40.683826         -73.976323   6492
4         116.0                W 17 St & 8 Ave         40.741776         -74.001497  22833
..          ...                            ...               ...                ...    ...
828      3799.0                6 Ave & W 34 St         40.749640         -73.988050   4788
829      3803.0    Bedford Ave & Montgomery St         40.665816         -73.956934    345
830      3804.0              Front St & Jay St         40.702461         -73.986842   1660
831      3809.0                W 55 St & 6 Ave         40.763201         -73.978458    505
832      3810.0    Central Park West & W 82 St         40.782593         -73.971211    499

[833 rows x 5 columns]

In [7]:
combined_stations = pd.concat([start_stations, end_stations])
combined_stations

     station id                   station name  station latitude  station longitude  count
0          72.0               W 52 St & 11 Ave         40.767272         -73.993929  15435
1          79.0       Franklin St & W Broadway         40.719116         -74.006667   8810
2          82.0         St James Pl & Pearl St         40.711174         -74.000165   4676
3          83.0  Atlantic Ave & Fort Greene Pl         40.683826         -73.976323   6131
4         116.0                W 17 St & 8 Ave         40.741776         -74.001497  22730
..          ...                            ...               ...                ...    ...
828      3799.0                6 Ave & W 34 St         40.749640         -73.988050   4788
829      3803.0    Bedford Ave & Montgomery St         40.665816         -73.956934    345
830      3804.0              Front St & Jay St         40.702461         -73.986842   1660
831      3809.0                W 55 St & 6 Ave         40.763201         -73.978458    505
832      3810.0    Central Park West & W 82 St         40.782593         -73.971211    499

[1641 rows x 5 columns]

In [8]:
stations = combined_stations.groupby(['station id', 'station name', 'station latitude', 'station longitude']).agg(counts=('count','sum'))
stations

                                                                             counts
station id station name                  station latitude station longitude
72.0       W 52 St & 11 Ave              40.767272        -73.993929          30806
79.0       Franklin St & W Broadway      40.719116        -74.006667          17650
82.0       St James Pl & Pearl St        40.711174        -74.000165           9410
83.0       Atlantic Ave & Fort Greene Pl 40.683826        -73.976323          12623
116.0      W 17 St & 8 Ave               40.741776        -74.001497          45563
...                                                                             ...
3799.0     6 Ave & W 34 St               40.749640        -73.988050           9646
3803.0     Bedford Ave & Montgomery St   40.665816        -73.956934            657
3804.0     Front St & Jay St             40.702461        -73.986842           3311
3809.0     W 55 St & 6 Ave               40.763201        -73.978458           1011
3810.0     Central Park West & W 82 St   40.782593        -73.971211           1023

[833 rows x 1 columns]

In [9]:
# Save stations to .csv
stations.to_csv('Data/stations.csv', index=True)